package ${corePackage}.dao;

import ${corePackage}.entity.${className};

import tk.mybatis.mapper.common.Mapper;
import tk.mybatis.mapper.common.MySqlMapper;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@org.apache.ibatis.annotations.Mapper
public interface ${className}Mapper extends Mapper<${className}>, MySqlMapper<${className}> {

}